.a1{color: lawngreen;font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;}
.a2{color: lightpink;font-style: oblique;}
.a3{font-family: sans-serif;color: lightseagreen;font-weight: 800;}